
<div style="width: 100%; height: 150px; position:fixed; z-index: 999;">
<header>
        <div class="add-button">
          <div class="sub-button tl"></div>
          <div class="sub-button tr icon-github" (click)="openPage('g')" style="cursor: pointer;"></div>
          <div class="sub-button bl icon-facebook" (click)="openPage('f')" style="cursor: pointer;"></div>
          <div class="sub-button br icon-linkedin" (click)="openPage('i')" style="cursor: pointer;"></div>
        </div>
</header>
</div>